<div>
	<script type="text/html" id="ButtonTemplate">
		<div data-bind="button: $data.descriptor">

			<div class="btn" data-bind="manualClick: onClick">
				<label data-bind="text: $parent.descriptor.label"></label>
			</div>

		</div>
	</script>

	<script type="text/html" id="ButtonsetTemplate">
		<form class="btn-group" data-toggle="buttons" data-bind="button_set: $data.descriptor, css: { vertical: $data.orientation == 'vertical', horizontal: $data.orientation != 'vertical' }">

			<!-- ko foreach: { data: items } -->
			<div class="btn" data-bind="manualClick: onSelect, css: { disabled: disabled() }">
				<label data-bind="text: label"></label>
			</div>
			<!-- /ko -->

		</form>
	</script>
</div>
