/* White box */
.info{
    position : absolute;
    background-color : rgba(255,255,255,0.9);   /*white*/
}

/* Blue heading copy */
.info H2{
    color: rgba(60,0,255,0.9);  /*dark blue*/
    position:relative;
    left: 2%;
    font-size:200%;
    font-family : sans-serif;
}

/* Copy in body */
.info H3{
    color: black;
    position:relative;
    left:2%;
    top:1%;
    font-size:120%;
    font-family : sans-serif;
}

/* White box in corner with info */
#infoEuclidian{
    width    : 27%;
    top      : 2%;
    left     : 1.5%;
    padding  : 1%;
}

/* White box in the middle for help */
#keysEuclidian{
    width    : 32%;
    top      : 15%;
    left     : 35%;
    padding  : 1%;
}

#boxControlEuclidian{
    width    : 25%;
    top      : 2%;
    left     : 70%;
    padding  : 1%;
    border   : red;
}



/* Orange copy */
 .modelNumberDisplay{
    top: 5%;
    color: rgba(255,162,0,0.9) !important;  /* Orange */
    font-family : sans-serif;
}